body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    font-weight: 300;
}

div {
    display: block;
}

li {
    list-style-type: none;
}

.form-container {
    display: flex;
}

.todo-form .form-control {
    width: 100%;
    height: 45px;
}

.todo-form {
    display: block;
    flex: 1;
}

.completed {
    text-decoration: line-through;
}

ul.footer-list li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.container {
    background: #fff;
    min-width: 400px;
    max-width: 600px;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-footer {
    display: inline-block;
}

.todo-footer ul {
    display: block;
}

.btn {
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #000000 0px;
    text-decoration: none;
    outline: none;
}

.btn:hover {
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 28px;
}

.item-list {
    margin: 0;
    padding: 0;
}

.item-list li {
    position: relative;
    font-size: 16px;
}


.form-control {
    font-family: Arial;
    color: #000000;
    font-size: 16px;
}