@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background:#f7f3e9;
    color: #433F3E;
    margin: 0 auto;
    font-weight: 300;
}

div {
    display: block;
}

li {
    list-style-type: none;
}

.todo-form .form-control {
    width: 100%;
    height: 45px;
}
.completed {
    text-decoration: line-through;
}

ul.footer-list li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.container {
    background: #f7f3e9;
    min-width: 450px;
    max-width: 600px;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    border:1px solid #7abed1;
}

.todo-footer {
    text-align: center;
    height: 40px;
    align-items: center;
}
.todo-footer ul {
    display: block;
    margin: 0;
    padding: 0;
}
input[type="text"]{
    border:1px solid #7abed1;
    outline:none;
}
.item-list li {
    border-bottom: 1px solid #7abed1;
}
.btn {
    font-family: Arial;
    color: #433F3E;
    font-size: 14px;
    background: #f7f3e9;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    outline: none;
}

.btn:hover {
    text-decoration: none;
    border: 1px solid #f05945;
    border-radius: 3px;
}

.item-list {
    margin: 0;
    padding: 0;
}
button.active {
    border: 1px solid #f05945 !important;
}
.item-list li {
    position: relative;
    font-size: 16px;
}

.form-control {
    font-family: Arial;
    color: #445252;
    font-size: 16px;
}

.footer-list li button {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.todo-count {
    float: left;
    text-align: left;
    padding:0 5px;
}
.item-list li {
    text-align: left;
    padding:10px 15px;
}
.item-list item {
    padding:10px 0 0 0;
}
.todo-footer{
    display:flex;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #433F3E;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f05945;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .7;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}